$headerHeight: 60px;

.file-browser-container {
  flex-grow: 1;

  .file-browser-header {
    padding: 0 1.5em;
    height: $headerHeight;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
  }

  .file-browser-content {
    padding: 0 1.5em;
    height: calc(100vh - $headerHeight);
    overflow: scroll;

    .file-tile-container {
      transition: background-color 300ms;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }

      .file-tile-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
